services:
  first-api:
    build: ./node_service
    container_name: first-node-service
    ports:
      - "5000:5000"
    restart: always
    environment:
      - MONGO_URL=mongodb://db:27017/firstdb
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    networks:
      - devops-net

  db:
    image: mongo:7.0
    restart: always # Tự khởi động lại nếu bị sập
    volumes:
      - mongo-data:/data/db # Lưu dữ liệu vào ổ cứng, không lo mất code
    networks:
      - devops-net

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - first-api
    networks:
      - devops-net

  redis:
    image: redis:alpine
    networks:
      - devops-net

networks:
  devops-net:
    driver: bridge

volumes:
  mongo-data: # Khai báo khu vực lưu trữ dữ liệu DB